.pageContainer {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.content {
  min-width: 300px;

  text-align: center;
}
